.web-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.25rem;
}

.dialog-box {
    width: 25%;
}

button {
    border: 1px solid black;
    border-radius: 8px;
    padding: .25rem;
    font-size: 1rem;;
    
}