/* Import Font */ 
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

html, body {
  height: 100%; 
  overscroll-behavior: contain;
  touch-action: pan-y;
  overflow-x: hidden;
  /* background: linear-gradient(to right, white, gray); */
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(105, 193, 219));
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Catamaran", sans-serif;
}

.container {
  margin-bottom: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top {
  background-color: rgba(241, 159, 159, 0.946); 
  width: 100vw;
  height: auto;
}

.bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.header {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.footer {
  width: 100vw;
  background-color: rgba(241, 159, 159, 0.946); 
  position: fixed;
  padding: 0.25rem;
  bottom: 0;
}

#add-task-btn {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#add-task-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
}

.dialog-box {
  width: 25%;
}

button {
  border: 1px solid black;
  border-radius: 8px;
  padding-left: .5rem;
  font-size: 1.25rem;
  font-family: "Catamaran", sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: rgb(212, 210, 210);
}

button:active {
  background-color: rgb(170, 168, 168);
}

#tasks {
  width: 40vw;
}

.list-card {
  word-wrap: break-word; /* Allows long words to break onto the next line */
  overflow-wrap: break-word; /* Same as word-wrap, for better browser compatibility */
  white-space: normal; 
}

.complete {
  background-color: rgba(0, 128, 0, 0.804);
}

.completed {
  text-decoration: line-through;
}

.complete-this {
  display: none;
}

.incomplete {
  background-color: rgba(255, 0, 0, 0.804);
}

@media (max-width: 728px) {
  .toggle-complete-btn,
  .remove-btn {
    margin-bottom: 0.5rem;
  }

}

@media (max-width: 236px) {
  .list-body,
  .list-buttons, 
  .list-header {
    display: none;
  }
}

@media (max-width: 95px) {
  .container {
    display: none;
  }
}